In [2]:
%matplotlib inline
import pandas as pd

#Importo Decisions.csv
decisions = pd.read_csv("../Dataset 2.0/Decisions.csv")

#Da "Decisions.csv" seleziono solo le tuple riguardanti il primo round
decisions1 = decisions[decisions["Round"] == 1]

#Ho effettuato un controllo esterno per assicurarmi che tutte le tuple vengano prese in considerazione

#Estraggo "ID", "Session ID", "Worker Agent ID" e "Worker Agent Reputation"
decisions1 = decisions1.iloc[:, [0, 1, 3, 6]]

#Da "Decisions.csv" seleziono solo le tuple riguardanti il secondo round
decisions2 = decisions[decisions["Round"] == 2]

#Estraggo "Session ID", "Worker Agent ID" e "Worker Agent Reputation"
decisions2 = decisions2.iloc[:, [1, 3, 6]]

#Importo Tasks.csv per le informazioni di ciascuna task
tasks = pd.read_csv("../Dataset 2.0/Tasks.csv")

#Importo BacklogQueue per le task assegnate a ciascun WA
queue = pd.read_csv("../Dataset 2.0/BacklogQueue.csv")

#decisions1 e decisions2 hanno cardinalitÃ  differenti

,ID,Task 1,Task 2,Task 3,Task 4,Task 5,Task 6,Task 7,Task 8,Task 9,...,Task 21,Task 22,Task 23,Task 24,Task 25,Task 26,Task 27,Task 28,Task 29,Task 30
0,1,1,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,0,0,3,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5,0,0,0,0,5,6,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7,0,0,0,0,0,0,7,8,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,9,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495528,1290926,0,0,0,4,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
495529,1290928,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,28,0,0
495530,1290930,0,0,0,0,0,0,0,0,0,...,0,0,0,24,25,0,0,0,0,0
495531,1290932,0,0,0,0,0,0,0,0,0,...,21,0,0,0,0,0,0,0,0,0
495532,1290934,0,0,0,0,0,0,0,0,9,...,0,0,23,0,0,0,0,0,0,0

In [ ]:
#Creo un DataFrame vuoto nel quale concatenerÃ² il risultato di ciascuna iterazione che sto per eseguire
totale = pd.DataFrame()


for i in range(20):
    tmp1 = decisions1[decisions1["Worker Agent ID"] == i+1]
    tmp2 = decisions2[decisions2["Worker Agent ID"] == i+1]
    tmp1 = pd.merge(tmp1, tmp2, left_on = "Session ID", right_on = "Session ID")
    tmp1 = tmp1.iloc[:, [0, 1, 2, 3, 5]]
    tmp1 = tmp1.rename(columns = {"Worker Agent ID_x": "Worker Agent ID", "Worker Agent Reputation_x": "Worker Agent Starting Reputation", "Worker Agent Reputation_y": "Worker Agent Observed Reputation"})
    tmp1 = pd.merge(queue, tmp1, left_on = "ID", right_on = "ID")
    totale = pd.concat([totale, tmp1])

totale = totale.iloc[:, [0, 31, 32, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,27, 28, 29, 30, 33, 34]]
tasks